/* variables */

:root {
  --blueLogo: rgb(0, 48, 135);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

/* Home */

.home-wrapper {
  height: 800px;
  background-color: cadetblue;
}

/* Footer */
footer > div {
  width: 30%;
}
