/* variables */

:root {
  --blueLogo: rgb(0, 48, 135);
}

/*utility class*/
.inline-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}

/* Nav Bar */

.header-links-wrapper {
  width: 50%;
  height: 3rem;
}

/* button */
button.basic-btn {
  background-color: var(--blueLogo);
  color: white;
}

/* Logo image */
.logo-header {
  height: 33px;
  width: 189px;
}

/* Home */

.home-wrapper {
  height: 800px;
  background-color: cadetblue;
}

/* Footer */
footer > div {
  width: 30%;
}
